<p class="meta">
    <span class="glyphicon glyphicon-calendar"></span>&nbsp;@Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc) &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;@Model.ContentPart.Owner.UserName
</p>