
<h1 class="page-title">@Html.TitleForPage((string)Model.Title)</h1>
<p>
    @T("To sign in, please foollow the link:") 
    @Html.ActionLink(T("Sign In").ToString(), "LogOn", new { Controller = "Account", Area = "SkautSIS.Users" })
</p>
