<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
		<httpRuntime maxQueryStringLength="4000" maxRequestLength="2048" />
	</system.web>

	<appSettings>
		<add key="PersonGroupsServiceVirtualPath" value="/Services/PersonGroupsService" />
		<!--<add key="PersonGroupsServiceUrl" value="http://localhost:8322/Services/PersonGroupsService.svc" />-->
	</appSettings>

	<connectionStrings>
		<add name="PersonGroupsContext" connectionString="Data Source=|DataDirectory|PersonGroupsDatabase.sdf" providerName="System.Data.SqlServerCe.4.0" />
	<add name="PersonGroupsDatabaseEntities" connectionString="metadata=res://*/Models.PersonGroupsModel.csdl|res://*/Models.PersonGroupsModel.ssdl|res://*/Models.PersonGroupsModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\PersonGroupsDatabase.sdf&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="4000" />
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>
